@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .transformed img {
    transform: rotate3d(1, -1, 1, 90deg);
    width: 100%;
    transition: transform 0.6s ease, width 0.6s ease;
  }
  
  .transformed {
    transform: rotate3d(1, -1, 1, 90deg);
    transition: transform 0.6s ease;
  }
  
  /* Add this to your global CSS file or Tailwind CSS configuration */
.rotate-3d {
  transform: rotate3d(1, -1, 1, 90deg);
  transition: transform 0.6s ease-in-out;
}
